NODE_ENV=
PORT=

FRONTEND_URL=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_URI=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=

JWT_SECRET=

PAYSTACK_SECRET=
PAYSTACK_PUBLIC=
PAYSTACK_BASE_URL=
PAYSTACK_CALLBACK_URL=

CORS_ORIGIN=http://localhost:3000,http://localhost:3000/

